html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* 
  custom styles 
*/

.I{
    background-color: #FE5349;
    width: 40%;
}
.II{
    background-color: #0B8871;
    width: 20%;
}
.III{
    background-color: #B601FF;
    width: 20%;
}
.IV{
    background-color: #0BC1FD;
    width: 20%;
}
.V{
    background-color: #07CA80;
    width: 40%;
}
.VI{
    width: 20%;
    background-color: #00F261;
}
.VII{  
    width: 20%;
    background-color: #E7FF1D; 
}
.VIII{
    width: 20%;
    background-color: #FE7404;
}
.IX{
    background-color: #E52E2D;
    width: 40%;
}
.layout{
    margin: 0% 12.5% ;
}
.box{
    height: 200px;
    color: white;
    margin: 10px;
    box-sizing: border-box;
    padding: 10px;
    display: inline-block;
}
